.App {
  font-family: "Montserrat", sans-serif;
}

h1,
h2 {
  color: #ffff;
  text-align: center;
  font-weight: 900;
}

form {
  margin-top: 15px;
}

img {
  display: block;
  margin: 0 auto;
}

.App-header {
  box-sizing: border-box;
  max-width: 700px;
  background-image: linear-gradient(to top, #d9afd9 0%, #97d9e1 100%);
  background-repeat: no-repeat;
  background-size: 700px;
  margin: 0 auto;
  padding: 20px 20px;
  border: 2px solid linear-gradient(to top, #d9afd9 0%, #97d9e1 100%);
  border-radius: 20px;
}

#location-button,
#search-bar,
#search-button {
  border-radius: 10px;
  background-color: transparent;
  color: #ffff;
  font-weight: bold;
  box-shadow: 1px 1px gray;
}

.form-check-input {
  position: relative;
  left: 580px;
  top: -31px;
  background-color: #b697ee;
}

.form-check-label {
  position: relative;
  left: 585px;
  top: -35px;
}
#cel,
#fahr {
  text-decoration: none;
  color: #ffff;
  font-size: small;
  font-weight: 600;
  cursor: pointer;
}

.city {
  padding: 0 20px 0 0;
}

.temperature {
  padding: 0 0 0 70px;
}

.city,
.forecast,
.temperature,
.form-check-label {
  color: #ffff;
  font-size: 12px;
}

.MainCity,
.dayForecast,
.currentTemperature {
  font-size: 25px;
}

.dayForecast,
.currentTemperature {
  display: flex;
  align-items: center;
  justify-content: center;
}

#maxMin {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gitHubLink {
  text-decoration: none;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 2px;
  color: #6836c5;
  font-size: small;
}
